body {
  font-family: Inter, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

.sec-main {
  max-height: 100vh;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.site-body {
  background-color: #342e36;
}

.menu-div {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  padding: 30px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menu-item {
  margin-bottom: 5px;
  padding: 5px 5px 5px 10px;
  color: #f9ecff;
  cursor: pointer;
}

.menu-item:hover {
  color: #acacac;
}

.menu-item.drop {
  text-decoration: underline;
  cursor: auto;
}

.menu-item.drop:hover {
  color: #f9ecff;
}

.menu-item.off {
  display: none;
}

.menu-item.l {
  margin-left: 10px;
  padding-right: 2px;
  padding-left: 2px;
  background-color: #f9ecff;
  color: #342e36;
  font-style: italic;
  cursor: auto;
}

.menu-item.static:hover {
  color: #f9ecff;
}

.icon-div {
  display: inline-block;
  height: 100%;
  margin-left: 10px;
}

.menu-text {
  display: inline-block;
  margin-right: 5px;
  font-size: 15px;
  line-height: 18px;
}

.menu-text.nope {
  font-style: italic;
}

@media screen and (max-width: 767px) {
  .menu-div {
    width: 100vw;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .menu-div {
    padding: 10px 10px 50px;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
