body {
  background-color: #201922;
  font-family: Inter, sans-serif;
  color: #f9ecff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.sec-main {
  overflow: auto;
  max-height: 100vh;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.site-body {
  background-color: #342e36;
}

.menu {
  position: absolute;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  height: auto;
  padding: 25px 50px 30px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menu-item {
  position: relative;
  padding: 5px 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #f9ecff;
  cursor: pointer;
}

.menu-item.title {
  cursor: default; !important
}

.menu-item:hover {
  background-color: #201922;
  mix-blend-mode: normal;
}

.menu-item.title:hover {
  background-color: transparent; !important
}

.menu-item.drop {
  text-decoration: underline;
  cursor: auto;
}

.menu-item.drop:hover {
  color: #f9ecff;
}

.menu-item.off {
  display: none;
}

.menu-item.l {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 8px;
  padding: 3px 0px 0px;
  border-bottom: 1px solid #f9ecff;
  cursor: auto;
}

.menu-item.l:hover {
  background-color: transparent;
}

.menu-item.static:hover {
  color: #f9ecff;
}

.icon-div {
  display: inline-block;
  height: 100%;
  margin-left: 10px;
}

.menu-text {
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
}

.menu-text.nope {
  font-style: italic;
}

.menu-text.web {
  font-size: 9px;
}

.menu-text.design {
  font-size: 9px;
}

.blocks {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 100vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.block {
  position: absolute;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  -webkit-transition: opacity 450ms ease;
  transition: opacity 450ms ease;
  background-color: black;
  opacity: 0;
}

.block.vis {
  opacity: 1;
}

.sym {
  font-size: 10px;
}

.block-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.text-sm {
  display: inline-block;
  margin-right: 5px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  font-size: 9px;
  line-height: 9px;
}

.text-sm.nope {
  font-style: italic;
}

.blockvid {
  minwidth:100%;
  width: 100%;
  height: auto;
}

.block-info {
  position: absolute;
  left: auto;
  top: 25px;
  right: 25px;
  bottom: auto;
  z-index: 10;
  mix-blend-mode: difference;
}

.text-block {
  font-size: 13px;
  line-height: 15px;
}

@media screen and (max-width: 991px) {
  .block {
    max-width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    padding-right: 20px;
    padding-left: 20px;
  }

  .block {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .menu {
    padding: 10px 10px 50px;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
