body {
  background-color: #201922;
  font-family: Inter, sans-serif;
  color: #f9ecff;
  font-size: 16px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

.sec-main {
  overflow: auto;
  max-height: 100vh;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.site-body {
  background-color: #342e36;
}

.menu {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 100vw;
  height: auto;
  max-width: 100vw;
  padding: 30px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menu-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #f9ecff;
  cursor: pointer;
}

.menu-item:hover {
  color: #acacac;
}

.menu-item.drop {
  text-decoration: underline;
  cursor: auto;
}

.menu-item.drop:hover {
  color: #f9ecff;
}

.menu-item.off {
  display: none;
}

.menu-item.l {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 5px;
  background-color: #f9ecff;
  color: #342e36;
  cursor: auto;
}

.menu-item.static:hover {
  color: #f9ecff;
}

.icon-div {
  display: inline-block;
  height: 100%;
  margin-left: 10px;
}

.menu-text {
  display: inline-block;
  margin-right: 5px;
  font-size: 15px;
  line-height: 18px;
}

.menu-text.nope {
  font-style: italic;
}

.blocks {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 100vw;
  padding-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.block {
  position: absolute;
  max-width: 60%;
  opacity: 0;
  -webkit-transition: opacity 450ms ease;
  transition: opacity 450ms ease;
}

.block.vis {
  opacity: 1;
}

.sym {
  font-size: 10px;
}

@media screen and (max-width: 991px) {
  .block {
    max-width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    padding-right: 20px;
    padding-left: 20px;
  }

  .block {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 479px) {
  .menu {
    padding: 10px 10px 50px;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
